*{
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #111111;
    a,li{
        text-decoration: none;
        list-style: none;
    }

}
.container{
    padding: 0 15px;
}